include:
  - project: workflow/ewoksadmin/ewoksci
    file: .gitlab-ci-template.yml

test-3.7:
  extends: .test-3.7

build_sdist:
  extends: .build_sdist

test_sdist-3.9:
  extends: .test_sdist-3.9
  variables:
    PYTEST_WARNINGS: "-W error -W ignore::RuntimeWarning:networkx.utils.backends" # networkx #7372

test_sdist-3.8-win:
  extends: .test_sdist-3.8-win

build_doc:
  extends: .build_doc

pages:
  extends: .pages

assets:
  extends: .assets
